<ng-template transloco let-t>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
    <mat-card fxFlex="100">
      <h1 align="center">Category Dashboard</h1>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <div>
  <mat-card fxFlex="1000">

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input  matInput [matDatepicker]="pickerStart" [formControl]="startDate" [max]="maxDate" (dateInput)="startDateSelection($event)" >
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart touchUi></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="pickerEnd" [min]="pickerStart" [formControl]="endDate" [max]="maxDate" (dateInput)="endDateSelection($event)" >
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd touchUi></mat-datepicker>
    </mat-form-field>
    <button matTooltip="Refresh graph"
            [matTooltipPosition]="position.value" mat-mini-fab (click)="refreshCategoryGraph(pickerStart, pickerEnd)">
      <mat-icon>autorenew</mat-icon>
    </button>



</mat-card>
  </div>
<div>
  <mat-card fxFlex="1000">
    <div class="text">
      <h4>Label </h4>

      <span>
    <mat-icon color="primary">trending_up</mat-icon>
  </span>

      <span>Totals (USD)</span>

    </div>
    <div class="widget">
      <div class="chart-wrapper">
        <ngx-charts-bar-horizontal

          [scheme]="colorScheme"
          [results]="hbarData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel">


        </ngx-charts-bar-horizontal>

      </div>
    </div>
  </mat-card>
</div>
</ng-template>
