<h1 mat-dialog-title>Detail View</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Category: {{newItem.category}}</mat-card-title>
        <mat-card-title>Date: {{newItem.deliverySending}}</mat-card-title>
        <mat-card-subtitle>Shop: {{newItem.shop}}</mat-card-subtitle>
        <mat-card-subtitle>List-price: {{newItem.priceListPerUnit}}</mat-card-subtitle>
        <mat-card-subtitle>Sell-price: {{newItem.priceSalesPerUnit}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Quantity checked in: {{newItem.quantity}}</p>
        <p>Discount: {{newItem.discountPercent}} %</p>
        <p>Warehouse instructions: {{newItem.warehouseInstruction}} %</p>
        <p>Shop Comment: {{newItem.shopComment}} %</p>
      </mat-card-content>
    </mat-card>

    <button mat-mini-fab mat-dialog-close>
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-mini-fab mat-raised-button type="submit">
      <mat-icon>check_circle
      </mat-icon>
    </button>
  </form>
</div>
