
<ng-template transloco let-t>
  <div mat-dialog-content>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp cont-bg4">
      <div class="mdl-card__title">

        <h1 mat-dialog-title>{{ t('translate.detailed-view') }}</h1>
        <h2 mat-dialog-title></h2>

      </div>
      <!--  CONTENT-->
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><mat-icon> category</mat-icon>{{ t('translate.category') }}: {{newItem.category}}</mat-card-title>
            <mat-card-title><mat-icon>date_range</mat-icon>{{ t('translate.checked-in-item-date') }}: {{newItem.deliverySending.substring(0,10)}}</mat-card-title>
            <mat-card-title><mat-icon> store_mall_directory</mat-icon>{{ t('translate.shop') }}: {{newItem.shop}}</mat-card-title>
            <mat-card-title><mat-icon> local_offer</mat-icon>{{ t('translate.listPricePerUnit') }}: {{newItem.priceListPerUnit}}$</mat-card-title>
            <mat-card-title><mat-icon> point_of_sale</mat-icon>{{ t('translate.salesPricePerUnit') }}: {{newItem.priceSalesPerUnit}}$</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ t('translate.quantity') }}: {{newItem.quantity}}</p>
            <p>{{ t('translate.discount-in-percent') }}: {{newItem.discountPercent}}%</p>
            <p>{{ t('translate.warehouse-instructions') }}: {{newItem.warehouseInstruction}}</p>
            <p>{{ t('translate.shop-comment') }}: {{newItem.shopComment}}</p>
          </mat-card-content>
        </mat-card>

      </form>
      <!--  CONTENT-->
      <div class="mdl-card__actions mdl-card--border cont-bg4">
        <div>
          <button mat-mini-fab mat-dialog-close>
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
</ng-template>
