<ng-template transloco let-t>

  <mat-card>
    <mat-card-title>{{ t('translate.selectLocation') }}:</mat-card-title>

    <div class="space"></div>
    <a>
      <button mat-raised-button matTooltip="Register a warehouse or store for your business"
              [matTooltipPosition]="position.value"
              (click)="openDialog()">{{ t('translate.createCommerce') }}
      </button>

    </a>
    <div class="space"></div>
    <mat-card-content>
      <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]="15">

        <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]="marcador.lat"
                    [longitude]="marcador.lng">
          <agm-info-window>

            <strong>{{marcador.name}}</strong>
            <p>{{marcador.address}}</p>

            <div>

              <div *ngIf="marcador.name!=null">

                <button matTooltip="Edit the information form this marker"
                        [matTooltipPosition]="position.value" mat-raised-button (click)="loadMarkerToModify(marcador)"
                        mat-raised-button color="warn"> Edit marker
                </button>
                <button matTooltip="Delete the entire comerce from the database"
                        [matTooltipPosition]="position.value" (click)="borrarComercio(i,marcador)" mat-raised-button
                        color="primary"> Borrar comercio
                </button>
              </div>
              <button matTooltip="Deletes the marker but keeps comerce"
                      [matTooltipPosition]="position.value" (click)="borrarMarcador(i,marcador)" mat-raised-button
                      color="primary"> {{ t('translate.delete') }}
              </button>


            </div>
          </agm-info-window>
        </agm-marker>

      </agm-map>

    </mat-card-content>

  </mat-card>
</ng-template>
