
<div class="demo-card-wide mdl-card mdl-shadow--2dp cont-bg4">
  <div class="mdl-card__title">

    <h1 mat-dialog-title>Detailed View</h1>

  </div>
  <!--  CONTENT-->
  <div mat-dialog-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
      <mat-card>
        <mat-card-subtitle>Instructions:</mat-card-subtitle>
        <mat-card-content>{{ data.instructionComment }}</mat-card-content>

        <mat-card-subtitle>Category:</mat-card-subtitle>
        <mat-card-content>{{ data.category }}</mat-card-content>

        <mat-card-subtitle>List Price:</mat-card-subtitle>
        <mat-card-content>{{ data.priceListPerUnit }}</mat-card-content>

        <mat-card-subtitle>Sales Price:</mat-card-subtitle>
        <mat-card-content>{{ data.priceSalesPerUnit }}</mat-card-content>
      </mat-card>

      <mat-form-field appearance="fill">
        <input #inputQuantity type="number" formControlName="quantity" matInput>
        <mat-icon matPrefix>edit</mat-icon>
        <mat-hint *ngIf="inputQuantity.value != data.originalQuantity" style="color: red">Original: {{ data.originalQuantity}}</mat-hint>
        <mat-error *ngIf="myForm.controls['quantity'].hasError('required')">
          Quantity is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="myForm.controls['quantity'].hasError('invalidNumber')">
          Please insert number greater than 0!
        </mat-error>
      </mat-form-field>

      <mat-card>
        <mat-card-subtitle>Timestamp:</mat-card-subtitle>
        <mat-card-content>{{ data.timestamp }}</mat-card-content>
      </mat-card>

      <mat-form-field appearance="fill">
        <mat-label>Comments</mat-label>
        <textarea matInput formControlName="comment">{{ data.comment }}</textarea>
        <mat-icon matPrefix>edit</mat-icon>
        <mat-error *ngIf="myForm.controls['comment'].hasError('required')">lease insert comment</mat-error>
      </mat-form-field>

      <div class="mdl-card__actions mdl-card--border cont-bg4">
        <button mat-mini-fab mat-dialog-close>
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-mini-fab mat-raised-button type="submit">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
