<div>
  <h1>New delivery order!</h1>

  <div>
    <h3>Insert new order element:</h3>

    <div>
      <a>Category:<input [(ngModel)]="newOrderElement.category" #it="ngModel" required></a>
      <a>Quantity:<input [(ngModel)]="newOrderElement.quantity" #it="ngModel" required></a>
      <a>Price per Unit:<input [(ngModel)]="newOrderElement.pricePerUnit" #it="ngModel" required></a>
      <button (click)="setNewOrder()">Add new order item</button>
    </div>
  </div>


  <table mat-table [dataSource]="newOrderData" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="pricePerUnit">
      <th mat-header-cell *matHeaderCellDef> Price per Unit </th>
      <td mat-cell *matCellDef="let element"> {{element.pricePerUnit}} </td>
      <td mat-footer-cell *matFooterCellDef> - </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{(element.pricePerUnit)*(element.quantity)}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} dollar </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

</div>


