<ng-template transloco let-t>
<div class="container-fluid d-flex justify-content-center">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp justi ">

    <h1>Checked In Items</h1>
    <div class="newOrderInputFieldsCategory">
      <mat-form-field appearance="fill">
        <mat-label>{{ t('translate.shop') }}</mat-label>
        <mat-select [formControl]="formControl" [(value)]="deliveryShop">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let entry of shopsList" [value]="entry.name">{{ entry.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input (dateInput)="startDateSelection($event)" [matDatepicker]="picker1" matInput>
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1 touchUi></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input (dateInput)="endDateSelection($event)" [matDatepicker]="picker2" matInput>
        <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker2 touchUi></mat-datepicker>
      </mat-form-field>
    </div>

    <button matTooltip="Refresh list"
            mat-mini-fab (click)="getCheckedInItemsListSpecificShop()">
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>
</div>

<div class="space"></div>

<div class="container-fluid d-flex justify-content-center">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp justi ">

    <h3>{{ t('translate.selectedShop') }}: {{deliveryShop}}</h3>
    <div class="space"></div>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>

<!--    'shop', 'category', 'revenuePerUnit', 'priceListPerUnit', 'priceSalesPerUnit', 'itemLastSold'-->

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon> category</mat-icon> </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="priceListPerUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon> attach_money</mat-icon>-list</th>
        <td mat-cell *matCellDef="let element"> {{element.priceListPerUnit}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>date_range</mat-icon> </th>
        <td mat-cell *matCellDef="let element"> {{element.deliverySending.substring(0,10)}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="popup">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>grading</mat-icon> </th>
        <td mat-cell *matCellDef="let element">
          <button  mat-icon-button (click)="openDialogCheckInDetails(element)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</div>
</ng-template>
