.cont-bg4{
  background-color: #f5f5f5;

}

.demo-card-wide.mdl-card {
  color: #fff;
  width: 250px;
}
.demo-card-wide > .mdl-card__title {
}

.demo-card-wide > .mdl-card__menu {
}

.space {
  height: 20px;
}

.center {
  text-align: center;
}
