.cont-bg4{
  background-color: #f5f5f5;


}

.demo-card-wide.mdl-card {
  color: #fff;
  width: 250px;
}
.demo-card-wide > .mdl-card__title {
}

.demo-card-wide > .mdl-card__menu {
}

.space {
  height: 20px;
}

.center {
  text-align: center;
}
.margin{
  margin: 0px;
  padding: 0px;
}
.bg {
  background-color: #212e3e
}

button {
  margin: 7px;
  /*transition-duration: 0.4s;*/
  /*display: inline-block;*/
  /*font-size: 15px;*/
  /*cursor: pointer;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*outline: none;*/
  color: #fff;
  background-color: #212e3e;
  /*border: none;*/
  /*border-radius: 15px;*/
  /*box-shadow: 0 5px #999;*/
}
