<div class="space"></div>

<!-- BOX-1: Shop-Selection -->
<div class="container-fluid d-flex justify-content-center">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp justi ">
    <div class="container d-flex justify-content-left mdl-card__title ">
      <h2 class="mdl-card__title-text">Select Shop</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="selectedShopRange">
        <mat-radio-button class="example-radio-button" *ngFor="let season of shopRange" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
      <div class="space"></div>

      <div *ngIf="selectedShopRange == 'Specific Shop'">
        <mat-form-field>
          <mat-label>Select Shop</mat-label>
          <mat-select [formControl]="shopControl" [(value)]="selectedShopToFilterOnList" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let entry of listShops" [value]="entry">{{ entry }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab (click)="getInventoryItemsList(selectedShopToFilterOnList)">
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>

      <div *ngIf="selectedShopRange == 'All Shops'">
        <button mat-mini-fab (click)="getAllInventoryItemList()">
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="space"></div>

<!-- BOX-2: Shop-Selection -->
<div class="container-fluid d-flex justify-content-center">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp justi ">
    <div class="container d-flex justify-content-left mdl-card__title ">
      <h2 class="mdl-card__title-text">Inventory of Shop {{selectedShopToDisplay}}</h2>
    </div>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. cadena">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Symbol Column -->
      <ng-container matColumnDef="shop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Shop.</th>
        <td mat-cell *matCellDef="let element"> {{element.shop}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category.</th>
        <td mat-cell *matCellDef="let element"> {{element.category}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity.</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="priceSalesPerUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sales-Price.</th>
        <td mat-cell *matCellDef="let element"> {{element.priceSalesPerUnit}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="priceListPerUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> List-Price.</th>
        <td mat-cell *matCellDef="let element"> {{element.priceListPerUnit}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
