<ng-template transloco let-t>


  <div class="space"></div>
  <div class="row">
    <div class="col">
      <!--    CONTENT OF FIRST COL-->
      <div class="container-fluid d-flex justify-content-center ">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ t('translate.newItemCategory') }}</h2>
          </div>
          <div class="container-fluid d-flex justify-content-center cont-bg4">

            <!--      FORMULAR-->
            <div class="container  ">
              <div class="space"></div>
              <div>
                <div class="container cont-bg4  ">
                  <div class="space"></div>
                  <div class="box">
                    <h3>{{ t('translate.createNewCategory') }}:</h3>
                    <div class="container ">
                      <div class="space"></div>
                      <div class="newOrderInputFieldsDeliveryFinalPricePerUnit">
                        <mat-form-field hintLabel="Max 30 characters" appearance="fill">
                          <mat-label>{{ t('translate.enterNameCategory') }}</mat-label>
                          <input matInput #input [(ngModel)]="newCategoryElement.category" maxlength="30"
                                 placeholder="Ex. deliveryQuantity">
                        </mat-form-field>
                      </div>

                      <div class="verifyCategoryExistant">
                        <button matTooltip="Checks if the category already exists"
                                [matTooltipPosition]="position.value" mat-raised-button
                                (click)="verifyCategoryExistant()">{{ t('translate.checkAvailability') }}
                        </button>
                        <br>
                        <a>{{availableItems}}</a>
                        <br>
                      </div>

                      <div>
                        <button matTooltip="Adds new category to the list"
                                [matTooltipPosition]="position.value" mat-raised-button (click)="createNewCategory()">{{
                          t('translate.createNewCategory') }}
                        </button>
                        <!--                <button mat-button (click)="deleteSelectedCategory()">delete selected</button>-->
                      </div>
                    </div>
                    <div class="space"></div>
                  </div>
                </div>
              </div>
              <div class="space"></div>
            </div>

            <!--        FORLUMAR ENDS-->

            <!--        NEXT DIV CLOSES CONTAINER OF FORMULAR-->
          </div>
          <!--    CONTENT OF FIRST COL-->
          <!--NEX DIV CLOSES THE CONTENT OF CARD-->
        </div>
      </div>
      <!--NEX DIV CORRESPONDS TO COLUMN-->
    </div>


    <div class="w-100"></div>
    <div class="space"></div>

    <!--  SEGUNDA COLUMNA-->
    <div class="col">
      <!--    CONTAINER TO CENTER IN THE PAGE-->
      <div class="container-fluid d-flex justify-content-center">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <!--    CONTENT-->

          <div class="container cont-bg2 ">
            <div class="space"></div>
            <div class="container cont-bg4  justify-content-center ">
              <div class="space"></div>
              <div class="d-flex justify-content-around">
                <div class="d-flex justify-content-around">
                  <mat-checkbox >{{ t('translate.displayActiveCategoryFalse') }}</mat-checkbox>
                  <button matTooltip="Deletes selected categories from the list"
                          [matTooltipPosition]="position.value" mat-raised-button (click)="deleteSelectedCategory()">{{
                    t('translate.deleteSelected') }}
                  </button>
                </div>
                <div class="space"></div>
              </div>
              <div class="space"></div>
            </div>

            <div class="space"></div>
            <div class="table-responsive">
              <div class=" table-responsive">

                <table mat-table #myShopCheckinProductsTable [dataSource]="listCategories" class="mat-elevation-z8">

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox></mat-checkbox>
                    </td>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> {{ t('translate.category') }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.category}}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

                </table>
                <div class="space"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

