<ng-template transloco let-t>
  <head>
    <title>
      platart
    </title>
  </head>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg2 ">
    <mdb-navbar-brand><a class="navbar-brand" routerLink="landingPage">Platart</a></mdb-navbar-brand>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container-fluid justify-content-between">
        <links>
          <ul class="navbar-nav mr-auto">
            <div *ngIf="isWarehouseRole()">
              <li class="nav-item ">
                <a class="nav-link waves-light" [matMenuTriggerFor]="aboveMenu"
                   mdbWavesEffect>{{ t('header.warehouse') }}</a>
                <mat-menu #aboveMenu="matMenu" yPosition="below">
                  <a class="nav-link a" routerLink="stockinwarehouse">
                    {{ t('header.Stock-in-warehouse') }}
                  </a>
                  <a class="nav-link a" routerLink="newdeliverytoshop">
                    {{ t('header.New-delivery-to-shop') }}
                  </a>
                  <a class="nav-link a" routerLink="newdeliverytowarehouse">
                    {{ t('header.New-delivery-to-warehouse') }}
                  </a>
                  <a class="nav-link a" routerLink="managerwarehousecheckindescription">
                    {{ t('header.Warehouse-Checkin') }}
                  </a>

                </mat-menu>
              </li>
            </div>

            <div *ngIf="isManagerRole()">
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect
                   [matMenuTriggerFor]="belowMenu">{{ t('header.Manager') }}</a>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                  <a class="nav-link a" routerLink="map">
                    Map
                  </a>
                  <a class="nav-link a" routerLink="managerinventoryinfo">
                    {{ t('header.Manage-Shops-Information') }}
                  </a>
                  <a class="nav-link a" routerLink="managerdashboard">
                    {{ t('header.Dashboard') }}
                  </a>
                  <a class="nav-link a" routerLink="categoryoverview">
                    {{ t('header.categoryDashboard') }}
                  </a>
                  <a class="nav-link a" routerLink="register">
                    {{ t('header.Register-new-user') }}
                  </a>
                  <a class="nav-link a" routerLink="newitemcategory">
                    {{ t('header.Add-new-category-to-warehouse') }}
                  </a>
                </mat-menu>
              </li>
            </div>

            <div *ngIf="isShopRole()">
              <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect
                   [matMenuTriggerFor]="beforeMenu">{{ t('header.Sales') }}</a>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                  <a class="nav-link a" routerLink="checkoutsolditems">
                    {{ t('header.Checkout-Sold-Items') }}
                  </a>
                  <a class="nav-link a" routerLink="newdeliveryfromwarehouse">
                    {{ t('header.Checkin-new-Delivery-to-Shop') }}
                  </a>
                  <a class="nav-link a" routerLink="viewshopinventory">
                    {{ t('header.Shop-Inventory') }}
                  </a>
                  <a class="nav-link a" routerLink="checkedinitems">
                    {{ t('header.Checked-In-Items') }}
                  </a>
                  <a class="nav-link a" routerLink="salesdescription">
                    {{ t('header.Sales-Summary') }}
                  </a>
                </mat-menu>
              </li>
            </div>
          </ul>

          <div class="example-button-row">
            <button class="bg" mat-mini-fab id="en" (click)="setActiveLang('en')">en</button>
            <button class="bg" mat-mini-fab id="es" (click)="setActiveLang('es')">es</button>
          </div>
          <div class="space2"></div>
          <div *ngIf="isLoggedin()">
          <button class=" btn btn-outline-danger" (click)="signOut()"> Log Out</button>
          </div>
        </links>
      </div>
    </div>
  </mdb-navbar>
</ng-template>
