<ng-template transloco let-t>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{ t('translate.enterComerceInfo') }}</h2>
  </div>
  <!--  CONTENT-->
  <body class="cont-bg2 ">
  <form class="form ">
    <div class="container-fluid cont-bg2">

      <div mat-dialog-content>

        <mat-card class="cont-bg4 ">
          <mat-card-header>
            <mat-card-title>
              {{ t('translate.newComerce') }}
            </mat-card-title>
          </mat-card-header>
          <div class="form-container">
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>{{ t('translate.name') }}</mat-label>
                <input matInput type="text" class="form-control" [(ngModel)]="comerce.name" name="name">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>{{ t('translate.category') }}</mat-label>
                <mat-select [formControl]="colorControl" [(value)]="comerce.category">
                  <mat-option value="warehouse" class="form-control">{{ t('translate.warehouse') }}</mat-option>
                  <mat-option value="store" class="form-control">{{ t('translate.store') }}</mat-option>
                </mat-select>

                <!--                      <input matInput  type="text" class="form-control"[(ngModel)]="comerce.category" name= "category" >-->
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>{{ t('translate.address') }}</mat-label>

                <input matInput type="text" class="form-control" [(ngModel)]="comerce.address" name="address">
              </mat-form-field>
            </div>

          </div>

        </mat-card>
        <div class="space"></div>
      </div>
    </div>
  </form>
  </body>
  <!--  CONTENT-->
  <div class="mdl-card__actions mdl-card--border">
    <div>
      <button mat-raised-button [mat-dialog-close]="" class="btn btn-primary" role="button" (click)="create()">{{ t('translate.save') }}!
      </button>

      <button mat-raised-button class="btn btn-primary" role="button" (click)="onNoClick()">{{ t('translate.noThanks') }}</button>
    </div>
  </div>

</div>
</ng-template>

