<app-header></app-header>

<h1>Angular intenvory</h1>
<nav>
  <ul>
    <li><a routerLink="/stockinwarehouse" routerLinkActive="active">Warehouse-show inventory</a></li>
    <li><a routerLink="/newdeliverytoshop" routerLinkActive="active">Warehouse-dispatch new delivery to shop</a></li>
    <li><a routerLink="/newdeliverytowarehouse" routerLinkActive="active">Warehouse-dispatch new delivery to warehouse</a></li>
    <li><a routerLink="/manager" routerLinkActive="active">Manager</a></li>
    <li><a routerLink="/sales" routerLinkActive="active">Sales</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<app-footer></app-footer>
<!--<footer>-->
<!--  <a href="#">Impressum</a>-->
<!--</footer>-->
