<div class="space"></div>

<div class="container-fluid d-flex justify-content-center">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp justi ">
    <h2>Sales by Start and End Range</h2>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input (dateInput)="startDateSelection($event)" [matDatepicker]="picker1" matInput>
      <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker1 touchUi></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input (dateInput)="endDateSelection($event)" [matDatepicker]="picker2" matInput>
      <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker2 touchUi></mat-datepicker>
    </mat-form-field>
    <button matTooltip="Refresh list of sold items"
            [matTooltipPosition]="position.value" mat-mini-fab (click)="getSoldItemsList()">
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>
</div>

<div class="space"></div>

<div class="container-fluid d-flex justify-content-center">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp justi ">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input (keyup)="applyFilter($event)" matInput placeholder="Ex. cadena">
    </mat-form-field>

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

      <!-- Weight Column -->
      <ng-container matColumnDef="shop">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>shop</th>
        <td *matCellDef="let element" mat-cell> {{element.shop}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Category</th>
        <td *matCellDef="let element" mat-cell> {{element.category}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="priceListPerUnit">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>List Price</th>
        <td *matCellDef="let element" mat-cell> {{element.priceListPerUnit}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="priceSalesPerUnit">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Sales Price</th>
        <td *matCellDef="let element" mat-cell> {{element.priceSalesPerUnit}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="revenuePerUnit">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Revenue</th>
        <td *matCellDef="let element" mat-cell> {{element.revenuePerUnit}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="itemLastSold">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Date Sold</th>
        <td *matCellDef="let element" mat-cell> {{element.itemLastSold}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
