<ng-template transloco let-t>
<p>{{ t('translate.selectComerceLocate') }}</p>
<mat-form-field appearance="fill">
  <mat-label>{{ t('translate.select') }}</mat-label>
  <mat-select [(ngModel)]="data.markerToEdit">
    <mat-option *ngFor="let comerce of allMarkers" [value]="comerce">{{comerce.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button class="btn btn-primary" role="button" [mat-dialog-close]="data.markerToEdit">{{ t('translate.save') }}</button>

<button mat-button class="btn btn-primary" role="button" (click)="onNoClick()">{{ t('translate.noThanks') }}</button>
</ng-template>
