<p>Select the comerce you want to locate in this position</p>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select [(ngModel)]="data.markerToEdit">
    <mat-option *ngFor="let comerce of allMarkers" [value]="comerce">{{comerce.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button class="btn btn-primary" role="button" [mat-dialog-close]="data.markerToEdit">Save</button>

<button mat-button class="btn btn-primary" role="button" (click)="onNoClick()">No, Thanks</button>
