<div>
  <h1>Stock in warehouse component</h1>
  <p>stock-in-warehouse works!</p>

   <div *ngIf="warehouseData">
     <ul class="stock-in-warehouse-display" *ngFor="let warehouseObject of warehouseData">
       <li>
         <span class="stock-in-warehouse" >{{warehouseObject.category}}</span>
         <span class="stock-in-warehouse" >{{warehouseObject.pricePerUnit}}</span>
         <span class="stock-in-warehouse" >{{warehouseObject.quantitiy}}</span>
       </li>
     </ul>
   </div>

  <table cdk-table [dataSource]="warehouseData">
    <!-- User name Definition -->
    <ng-container cdkColumnDef="username">
      <th cdk-header-cell *cdkHeaderCellDef> User name </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.category}} </td>
    </ng-container>

    <!-- Age Definition -->
    <ng-container cdkColumnDef="age">
      <th cdk-header-cell *cdkHeaderCellDef> Age </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.pricePerUnit}} </td>
    </ng-container>

    <!-- Title Definition -->
    <ng-container cdkColumnDef="title">
      <th cdk-header-cell *cdkHeaderCellDef> Title </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.quantitiy}} </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr cdk-header-row *cdkHeaderRowDef="['category', 'pricePerUnit', 'quantitiy']"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: ['category', 'pricePerUnit', 'quantitiy']"></tr>
  </table>

</div>


