<!--<div class="box">-->
<!--  <h1>New delivery order</h1>-->

<!--  <div>-->
<!--    <h3>Insert new order element:</h3>-->

<!--    <div class="newOrderInputFields">-->

<!--      <div class="newOrderInputFieldsCategory">-->
<!--        <mat-form-field appearance="fill">-->
<!--          <mat-label>category</mat-label>-->
<!--          <mat-select [formControl]="categoryControl" [(value)]="newOrderElement.category">-->
<!--            <mat-option>&#45;&#45;</mat-option>-->
<!--            <mat-option *ngFor="let entry of categoryItems" [value]="entry.name">{{ entry.name }}</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div class="newOrderInputFieldsDeliveryQuantity">-->
<!--        <mat-form-field hintLabel="Max 10 characters" appearance="fill">-->
<!--          <mat-label>Enter deliveryQuantity</mat-label>-->
<!--          <input matInput #input [(ngModel)]="newOrderElement.deliveryQuantity" maxlength="10" placeholder="Ex. deliveryQuantity">-->
<!--          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div class="newOrderInputFieldsDeliveryFinalPricePerUnit">-->
<!--        <mat-form-field hintLabel="Max 10 characters" appearance="fill">-->
<!--          <mat-label>FinalPrice/Unit</mat-label>-->
<!--          <input matInput #input [(ngModel)]="newOrderElement.deliveryFinalPricePerUnit" maxlength="10" placeholder="Ex. deliveryDisplayPricePerUnit">-->
<!--          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div class="availabilityAmount space">-->
<!--        <button mat-button (click)="verifyAvailability()">Check available</button>-->
<!--        <a>{{availableItems}} items</a>-->
<!--      </div>-->
<!--<div class="space"></div>-->
<!--      <div class="newOrderInputFieldsDeliveryDisplayPricePerUnit">-->
<!--        <mat-form-field hintLabel="Max 10 characters" appearance="fill">-->
<!--          <mat-label>Enter deliveryDisplayPricePerUnit</mat-label>-->
<!--          <input matInput #input [(ngModel)]="newOrderElement.deliveryDisplayPricePerUnit" maxlength="10" placeholder="Ex. deliveryDisplayPricePerUnit">-->
<!--          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div class="newOrderInputFieldsDeliveryDeliveryDiscount">-->
<!--        <mat-form-field hintLabel="Max 10 characters" appearance="fill">-->
<!--          <mat-label>Enter deliveryDiscount</mat-label>-->
<!--          <input matInput #input [(ngModel)]="newOrderElement.deliveryDiscount" maxlength="10" placeholder="Ex. deliveryDiscount">-->
<!--          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="space"></div>-->

<!--      <div>-->
<!--        <button mat-button (click)="setNewItemOrder()">Add new order item</button>-->
<!--        <button mat-button (click)="saveCurrentOrder()">Save current order items</button>-->
<!--        <button mat-button (click)="clearCurrentOrder()">Clear current order items</button>-->
<!--        <button mat-button (click)="sendCurrentOrder()">Send order</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--<div class="space">-->

<!--</div>-->
<!--<div class=" table-responsive">-->

<!--  <table mat-table #myShopCheckinProductsTable [dataSource]="listNewItemsToShops" class="mat-elevation-z8" >-->

<!--    &lt;!&ndash; Checkbox Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="select">-->
<!--      <th mat-header-cell *matHeaderCellDef>-->
<!--        <mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--                      [checked]="selection.hasValue() && isAllSelected()"-->
<!--                      [indeterminate]="selection.hasValue() && !isAllSelected()"-->
<!--                      [aria-label]="checkboxLabel()">-->
<!--        </mat-checkbox>-->
<!--      </th>-->
<!--      <td mat-cell *matCellDef="let row">-->
<!--        <mat-checkbox (click)="$event.stopPropagation()"-->
<!--                      (change)="$event ? selection.toggle(row) : null"-->
<!--                      [checked]="selection.isSelected(row)"-->
<!--                      [aria-label]="checkboxLabel(row)">-->
<!--        </mat-checkbox>-->
<!--      </td>-->
<!--      <td mat-footer-cell *matFooterCellDef> - </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="category">-->
<!--      <th mat-header-cell *matHeaderCellDef> Category </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.category}} </td>-->
<!--      <td mat-footer-cell *matFooterCellDef> - </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="deliveryQuantity">-->
<!--      <th mat-header-cell *matHeaderCellDef> *deliveryQuantity* </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.deliveryQuantity}}# </td>-->
<!--      <td mat-footer-cell *matFooterCellDef> {{getTotalItems()}}# </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; deliveryPricePerUnit Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="deliveryDisplayPricePerUnit">-->
<!--      <th mat-header-cell *matHeaderCellDef> *deliveryPricePerUnit* </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.deliveryDisplayPricePerUnit}}$ </td>-->
<!--      <td mat-footer-cell *matFooterCellDef> Total items: </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; deliveryDiscount Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="deliveryDiscount">-->
<!--      <th mat-header-cell *matHeaderCellDef> *Price per Unit* </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.deliveryDiscount}}%</td>-->
<!--      <td mat-footer-cell *matFooterCellDef> Total value: </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; deliveryFinalPricePerUnit Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="deliveryFinalPricePerUnit">-->
<!--      <th mat-header-cell *matHeaderCellDef> *deliveryFinalPricePerUnit* </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.deliveryFinalPricePerUnit}}$</td>-->
<!--      <td mat-footer-cell *matFooterCellDef> {{getTotalValue()}}$ </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; updateItem Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="updateItem">-->
<!--      <th mat-header-cell *matHeaderCellDef> *updateItem* </th>-->
<!--      <td mat-cell *matCellDef="let element">-->
<!--        <button (click)="updateButton(element)">correct items</button>-->
<!--      </td>-->
<!--      <td mat-footer-cell *matFooterCellDef> - </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>-->
<!--    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>-->
<!--  </table>-->
<!--</div>-->
<!--</div>-->

<!--'deliveryDiscount','']-->

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="space">

      </div>
      <div class="box">
        <div class="container cont-bg punkt">
          <div class="space"></div>
        <h1>New delivery order</h1>

        <div>
          <h3>Insert new order element:</h3>
          <div class="container cont-bg2 punkt">
            <div class="space">

            </div>

            <div class="newOrderInputFields">
              <div class="newOrderInputFieldsCategory">
                <mat-form-field appearance="fill">
                  <mat-label>shop</mat-label>
                  <mat-select [formControl]="shopControll" [(value)]="newOrderElement.deliveryShop">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let entry of shopsList" [value]="entry.name">{{ entry.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            <div class="newOrderInputFields">
            <div class="newOrderInputFieldsCategory">
              <mat-form-field appearance="fill">
                <mat-label>category</mat-label>
                <mat-select [formControl]="categoryControl" [(value)]="newOrderElement.category">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let entry of categoryItems" [value]="entry.category">{{ entry.category }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="newOrderInputFieldsDeliveryQuantity">
              <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                <mat-label>Enter deliveryQuantity</mat-label>
                <input matInput #input [(ngModel)]="newOrderElement.deliveryQuantity" maxlength="10" placeholder="Ex. deliveryQuantity">
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
            </div>

            <div class="newOrderInputFieldsDeliveryFinalPricePerUnit">
              <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                <mat-label>FinalPrice/Unit</mat-label>
                <input matInput #input [(ngModel)]="newOrderElement.deliveryFinalPricePerUnit" maxlength="10" placeholder="Ex. deliveryDisplayPricePerUnit">
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
            </div>

            <div class="availabilityAmount space">
              <button mat-button (click)="verifyAvailability()">Check available</button>
              <a>{{availableItems}} items</a>
            </div>
            <div class="space"></div>

            <div class="discountSelectionRadioButton">
              <label id="example-radio-group-label">Pick discount type:</label>
              <div class="space"></div>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="discountMethod">
                <mat-radio-button class="example-radio-button" *ngFor="let discount of discountMethodList" [value]="discount">
                  {{discount}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="discountMethod==='displayPrice'" class="newOrderInputFieldsDeliveryDisplayPricePerUnit">
              <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                <mat-label>Enter deliveryDisplayPricePerUnit</mat-label>
                <input matInput #input [(ngModel)]="newOrderElement.deliveryDisplayPricePerUnit" maxlength="10" placeholder="Ex. deliveryDisplayPricePerUnit">
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
            </div>

            <div *ngIf="discountMethod==='percent'" class="newOrderInputFieldsDeliveryDeliveryDiscount">
              <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                <mat-label>Enter deliveryDiscount</mat-label>
                <input matInput #input [(ngModel)]="newOrderElement.deliveryDiscount" maxlength="10" placeholder="Ex. deliveryDiscount">
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
              </mat-form-field>
            </div>
            <div class="space"></div>

            <div>
              <button mat-button (click)="setNewItemOrder()">Add new order item</button>
            </div>
          </div>
            <div class="space"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="col-sm-8">
      <div class="space"></div>
      <div class="container cont-bg punkt">
        <div class="space"></div>
        <div class="container cont-bg3  justify-content-center punkt ">
          <div class="space"></div>
            <div class="d-flex justify-content-around" >
              <button mat-button (click)="saveCurrentOrder()">Save current order items</button>
              <button mat-button (click)="clearCurrentOrder()">Clear current order items</button>
              <button mat-button (click)="sendCurrentOrder()">Send order</button>
            </div >
          <div class="space"></div>
        </div>

        <div class="container cont-bg3  justify-content-center punkt ">
          <div class="space"></div>
          <div class="d-flex justify-content-around" >
            <h3><u>Delivery list to:</u> {{newOrderElement.deliveryShop}}</h3>
          </div >
        </div>
        <div>

        </div>

        <div class="table-responsive">

        <table mat-table #myShopCheckinProductsTable [dataSource]="listNewItemsToShops" class="mat-elevation-z8" >

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef> - </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            <td mat-footer-cell *matFooterCellDef> - </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="deliveryQuantity">
            <th mat-header-cell *matHeaderCellDef> *deliveryQuantity* </th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryQuantity}}# </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalItems()}}# </td>
          </ng-container>

          <!-- deliveryPricePerUnit Column -->
          <ng-container matColumnDef="deliveryDisplayPricePerUnit">
            <th mat-header-cell *matHeaderCellDef> *deliveryPricePerUnit* </th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryDisplayPricePerUnit}}$ </td>
            <td mat-footer-cell *matFooterCellDef> Total items: </td>
          </ng-container>

          <!-- deliveryDiscount Column -->
          <ng-container matColumnDef="deliveryDiscount">
            <th mat-header-cell *matHeaderCellDef> *Price per Unit* </th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryDiscount}}%</td>
            <td mat-footer-cell *matFooterCellDef> Total value: </td>
          </ng-container>

          <!-- deliveryFinalPricePerUnit Column -->
          <ng-container matColumnDef="deliveryFinalPricePerUnit">
            <th mat-header-cell *matHeaderCellDef> *deliveryFinalPricePerUnit* </th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryFinalPricePerUnit}}$</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalValue()}}$ </td>
          </ng-container>

          <!-- updateItem Column -->
          <ng-container matColumnDef="updateItem">
            <th mat-header-cell *matHeaderCellDef> *updateItem* </th>
            <td mat-cell *matCellDef="let element">
              <button (click)="updateButton(element)">correct items</button>
            </td>
            <td mat-footer-cell *matFooterCellDef> - </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <div class="space"></div>
      </div>
      </div>
    </div>

    </div>
  </div>
