
<mat-card>
  <mat-card-title>Select the location you want to manage:</mat-card-title>
  <mat-card-content>
      <agm-map (mapClick)="agregarMarcador($event)" [latitude]= "lat" [longitude] = "lng" [zoom] ="15">
<!--method to add a marker by clicking should be inserted in line above after agm-map-->
<!--    (mapClick)="agregarMarcador($event)"-->
    <!--method to add a marker-->
<!--      warehousemarker-->
      <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]= "marcador.lat" [longitude] = "marcador.lng">
        <agm-info-window >

          <strong>{{marcador.name}}</strong>
          <p>{{marcador.address}}</p>
          <div>
            <a href="{{marcador.link}}">
              <button mat-raised-button color="primary"> Go to {{marcador.name}}</button>
<!--              <button (click)="borrarMarcador(i)" mat-raised-button color="primary"> Borrar</button>-->
            </a>
<!--            <button mat-raised-button color="warn"> Edit marker</button>-->
          </div>
        </agm-info-window>
      </agm-marker>

<!--      warehouse marker-->

      <!--      store1 marker-->




      <!--      store1 marker-->
      <!--      store2 marker-->



      <!--      store2 marker-->


    </agm-map>

  </mat-card-content>

</mat-card>
