<ng-template transloco let-t>

<mat-card>
  <mat-card-title>{{ t('translate.selectlocation') }}:</mat-card-title>

  <div class="space"></div>
  <a>
    <button mat-raised-button matTooltip="Register a warehouse or store for your business"
            [matTooltipPosition]="position.value"
             (click)="openDialog()">Create comerce </button>
    <button mat-raised-button  (click)="openDialog()">{{ t('translate.createCommerce') }} </button>
  </a>
  <div class="space"></div>
  <mat-card-content>
    <agm-map (mapClick)="agregarMarcador($event)"  [latitude]= "lat" [longitude] = "lng" [zoom] ="15">
<!--method to add a marker by clicking should be inserted in line above after agm-map-->
<!--    (mapClick)="agregarMarcador($event)"-->
    <!--method to add a marker-->
<!--      warehousemarker-->
      <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]= "marcador.lat" [longitude] = "marcador.lng">
        <agm-info-window >

          <strong>{{marcador.name}}</strong>
          <p>{{marcador.address}}</p>
          <div>

<!--opens pop up select comerce if empty-->
<!--              <div *ngIf="marcador.name==null" >-->
<!--                <button mat-raised-button color="primary" (click)="openDialog2()" >Select a comerce</button>-->
<!--              </div>-->
            <!--opens managing service of asigned comerce-->
              <div *ngIf="marcador.name!=null">
              <a href="{{marcador.link}}">
              <button mat-raised-button color="primary"> {{ t('translate.goTo') }} {{marcador.name}}</button>
              </a>
              <button (click)="borrarMarcador(i,marcador)" mat-raised-button color="primary"> {{ t('translate.delete') }}</button>

              <button (click)="borrarComercio(i,marcador)" mat-raised-button color="primary"> Borrar comercio</button>
                <button (click)="borrarMarcador(i,marcador)" mat-raised-button color="primary"> Borrar marcador</button>
          </div>
<!--            <button mat-raised-button color="warn"> Edit marker</button>-->
          </div>
        </agm-info-window>
      </agm-marker>

<!--      warehouse marker-->

      <!--      store1 marker-->




      <!--      store1 marker-->
      <!--      store2 marker-->



      <!--      store2 marker-->


    </agm-map>

  </mat-card-content>

</mat-card>
</ng-template>
